<!DOCTYPE HTML>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title></title>
    <link th:href="@{/css/bb.css}"
          rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<form class="addForm" th:action th:object="${member}" method="post">


    <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
    </div>

    <div>
        <div class="InputForm">
            <label th:for="usrId" th:text="#{label.member.userid}"> 아이디 :</label>
            <input th:field="*{userId}" th:errorclass="field-error"
                   placeholder="이메일 입력" autofocus>
        </div>
        <div class="field-error" th:errors="*{userId}">
            아이디 오류
        </div>
    </div>

    <div>
        <div class="InputForm">
            <label th:for="password" th:text="#{label.member.password}"> 비밀번호 :</label>
            <input th:field="*{password}" th:errorclass="field-error"
                   placeholder="비밀번호">
        </div>
        <div class="field-error" th:errors="*{password}">
            비밀번호 오류
        </div>
    </div>
    <div class="input_button">
    <button class="join_button" type="submit">
        <a th:text="#{label.button.login}">로그인</a>
    </button>
    <button class="cancle_button" type="button" th:onclick="|location.href='@{/}'|">
        <a th:text="#{label.button.cancel}">취소</a>
    </button>
    </div>

</form>


</body>
</html>