<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{page.addBoard}">신규 메모</h2>
    </div>


    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label th:text="#{label.board.id}">식별 ID</label>
        <input type="text"  class="form-control" value="1" th:value="${board.id}" readonly>
    </div>
    <div>
        <label th:text="#{label.board.Writer}">작성자</label>
        <input type="text"  class="form-control" value="상품A" th:value="${board.writer}" readonly>
    </div>
    <div>
        <label  th:text="#{label.board.title}">제목 </label>
        <input type="text"  class="form-control" th:value="${board.title}" readonly>
    </div>
    <div>
        <label f th:text="#{label.board.text}">본문 </label>
        <input type="text" class="form-control" value="10" th:value="${board.text}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    th:onclick="|location.href='@{/board/{board_id}/edit(board_id=${board.id})}'|"
                    type="button" th:text="#{label.board.updateBoard}">수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    th:onclick="|location.href='@{/board}'|"
                    type="button" th:text="#{label.board.list}">목록으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>