<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2 th:text="#{label.board.updateBoard}">수정하기</h2>
    </div>

    <form action="board.html" th:action th:object="${board}" method="post">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>

        <div>
            <label th:text="#{label.board.Writer}">작성자</label>
            <input type="text"  th:field="*{writer}" class="form-control" readonly>
        </div>
        <div>
            <label for="price" th:text="#{label.board.title}">제목 </label>
            <input type="text" id="price" th:field="*{title}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{title}">
                제목 오류
            </div>
        </div>
        <div>
            <label th:text="#{label.board.text}">본문 </label>
            <input type="text" th:field="*{text}"
                   th:errorclass="field-error" class="form-control" placeholder="본문을 입력하세요">
            <div class="field-error" th:errors="*{text}">
                본문 오류
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{label.button.save}">저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        th:onclick="|location.href='@{/board/{board_id}(board_id=${board.id})}'|"
                        type="button" th:text="#{label.button.cancel}">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>